<div class="slider">
	<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover"
		data-interval="5000">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
			<li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
			<li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
			<li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper For Slides -->
		<div class="carousel-inner" role="listbox">

			<!-- Third Slide -->
			<div class="item active sliderITEm">

				<!-- Slide Background -->
				<img src="../assets/images/29.jpg" alt="Classic Pedicure" class="slide-image" />
				<div class="bs-slider-overlay"></div>

				<div class="container">
					<div class="row">
						<!-- Slide Text Layer -->
						<div class="slide-text slide_style_left">
							<h1 data-animation="animated zoomInRight">Classic Pedicure</h1>
							<p data-animation="animated fadeInLeft">
								Sius modi tempora incidun utlabore eolore maliquam <br/>quaerat voluptatem.
							</p>
							<a ui-sref="contactus" class="submit" data-animation="animated fadeInLeft">Contact Us</a>
							<!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
						</div>
					</div>
				</div>
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item sliderITEm">

				<!-- Slide Background -->
				<img src="../assets/images/28.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
				<div class="bs-slider-overlay"></div>
				<!-- Slide Text Layer -->
				<div class="slide-text slide_style_left">
					<h1 data-animation="animated flipInX">Spa Manicure</h1>
					<p data-animation="animated lightSpeedIn">
						Sius modi tempora incidun utlabore eolore maliquam <br/>quaerat voluptatem.
					</p>
					<a ui-sref="contactus" class="submit" data-animation="animated fadeInLeft">Contact Us</a>

					<!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
					<a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a> -->
				</div>
			</div>
			<!-- End of Slide -->

			<!-- Third Slide -->
			<div class="item sliderITEm">

				<!-- Slide Background -->
				<img src="../assets/images/30.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
				<div class="bs-slider-overlay"></div>
				<!-- Slide Text Layer -->
				<div class="slide-text slide_style_left">
					<h1 data-animation="animated zoomInLeft">Hot Stone Manicure</h1>
					<p data-animation="animated fadeInRight">
						Sius modi tempora incidun utlabore eolore maliquam <br/>quaerat voluptatem.
					</p>
					<a ui-sref="contactus" class="submit" data-animation="animated fadeInLeft">Contact Us</a>

					<!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
					<a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
				</div>
			</div>

			<!-- forth Slide -->
			<div class="item sliderITEm">

				<!-- Slide Background -->
				<img src="../assets/images/15.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
				<div class="bs-slider-overlay"></div>
				<!-- Slide Text Layer -->
				<div class="slide-text slide_style_right">
					<h1 data-animation="animated zoomInLeft">Spa Manicure</h1>
					<p data-animation="animated fadeInRight">
						Sius modi tempora incidun utlabore eolore <br/>maliquam quaerat voluptatem.
					</p>
					<a ui-sref="contactus" class="submit" style="float: right;" data-animation="animated fadeInRight">Contact Us</a>

					<!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
					<a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
				</div>
			</div>
			<!-- End of Slide -->


		</div>
		<!-- End of Wrapper For Slides -->

		<!-- Left Control -->
		<a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
			<span class="fa fa-angle-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<!-- Right Control -->
		<a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
			<span class="fa fa-angle-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

</div>
<!-- End  bootstrap-touch-slider Slider -->
<div class="clr"></div>
</div>
<!--end_slider-->
<div class="our_services">
	<div class="container">
		<h1 class="animated fadeInDown delay-07s">Our Services</h1>
		<div class="spl_services">
			<div class="col-sm-4 leftpadding wow fadeInLeft delay-05s animated">
				<img src="./assets/img/ser_icon1.png" alt="" class="" />
				<h2>Classic Pedicure</h2>
				<p>
					A pedicure is a perfect way to revive and condition your feet. Hot soak, nail clipping, sloughing, intense massage and polish
					of your choice are included.
				</p>
			</div>

			<div class="col-sm-4 leftpadding wow fadeInUp delay-02s animated">
				<img src="./assets/img/ser_icon2.png" alt="" class="" />
				<h2>Peppermint Pedicure</h2>
				<p>
					Put the spring back in your step! It’s time to cool, energize and invigorate those tired feet with the power of peppermint.
					This wonderfully aromatic and energizing treatment starts with a warm foot soak in peppermint essential oil
				</p>
			</div>
			<div class="col-sm-4 leftpadding wow fadeInRight delay-06s animated">
				<img src="./assets/img/ser_icon3.png" alt="" class="" />
				<h2>Children’s Services</h2>
				<p>
					A manicure or pedicure with your child can be one of the most precious moments in their young life and yours. We take great
					pride treating our smallest customers with the greatest of care.
				</p>
			</div>
			<div class="clr"></div>
		</div>
	</div>
</div>
<!--end_ourservices-->

<div class="spacial_offers">
	<div class="container">
		<h1 class="animated fadeInDown delay-07s">Special Offers</h1>
		<div class="spacial_offersCH" id="demo">
			<div class="nextPrv customNavigation">
				<a class="btn next" style="padding:0;"><img src="./assets/img/next.png" alt="next" class="next" /></a>
				<a class="btn prev" style="padding:0;"><img src="./assets/img/prv.png" alt="Prv" class="prev" /></a>
			</div>
			<div id="owl-demo1" class="owl-carousel owl-theme">
				<div class="item animated fadeInDown delay-05s">
					<figure class="imghvr-zoom-in">
						<img class="img-responsive" src="./assets/img/offer1.jpg" alt="example-image">
						<figcaption>
							<div class="bool_and_read">
								<div class="col-sm-6 col-xs-6 redIcon">
									<a ui-sref="contactus">
										<img src="./assets/img/bookicon.png" alt="" class=""><br/> Book Now
									</a>
								</div>
								<div class="col-sm-6 col-xs-6 redIcon redIcon2">
									<a href="#">
										<img src="./assets/img/read_more_icon.png" alt="" class=""><br/> Read More
									</a>
								</div>
								<div class="clr"></div>
							</div>
						</figcaption>
					</figure>
					<div class="offprice_sec">
						<h3>Full Nail Care Package <span>&#x24; 200.00</span></h3>
					</div>
				</div>
				<div class="item animated fadeInDown delay-03s">
					<figure class="imghvr-zoom-in">
						<img class="img-responsive" src="./assets/img/offer2.jpg" alt="example-image">
						<figcaption>
							<div class="bool_and_read">
								<div class="col-sm-6 col-xs-6 redIcon">
									<a ui-sref="contactus">
										<img src="./assets/img/bookicon.png" alt="" class=""><br/> Book Now
									</a>
								</div>
								<div class="col-sm-6 col-xs-6 redIcon redIcon2">
									<a href="#">
										<img src="./assets/img/read_more_icon.png" alt="" class=""><br/> Read More
									</a>
								</div>
								<div class="clr"></div>
							</div>
						</figcaption>
					</figure>
					<div class="offprice_sec">
						<h3>Silverberry Nail Spa <span>&#x24; 100.00</span></h3>
					</div>
				</div>
				<div class="item animated fadeInDown delay-07s">
					<figure class="imghvr-zoom-in">
						<img class="img-responsive" src="./assets/img/offer3.jpg" alt="example-image">
						<figcaption>
							<div class="bool_and_read">
								<div class="col-sm-6 col-xs-6 redIcon">
									<a ui-sref="contactus">
										<img src="./assets/img/bookicon.png" alt="" class=""><br/> Book Now
									</a>
								</div>
								<div class="col-sm-6 col-xs-6 redIcon redIcon2">
									<a href="#">
										<img src="./assets/img/read_more_icon.png" alt="" class=""><br/> Read More
									</a>
								</div>
								<div class="clr"></div>
							</div>
						</figcaption>
					</figure>
					<div class="offprice_sec">
						<h3>Nail Spa Da Favola <span>&#x24; 150.00</span></h3>
					</div>
				</div>
				<div class="item">
					<figure class="imghvr-zoom-in">
						<img class="img-responsive" src="./assets/img/offer1.jpg" alt="example-image">
						<figcaption>
							<div class="bool_and_read">
								<div class="col-sm-6 col-xs-6 redIcon">
									<a ui-sref="contactus">
										<img src="./assets/img/bookicon.png" alt="" class=""><br/> Book Now
									</a>
								</div>
								<div class="col-sm-6 col-xs-6 redIcon redIcon2">
									<a href="#">
										<img src="./assets/img/read_more_icon.png" alt="" class=""><br/> Read More
									</a>
								</div>
								<div class="clr"></div>
							</div>
						</figcaption>
					</figure>
					<div class="offprice_sec">
						<h3>Full Nail Care Package <span>&#x24; 200.00</span></h3>
					</div>
				</div>
				<div class="item">
					<figure class="imghvr-zoom-in">
						<img class="img-responsive" src="./assets/img/offer3.jpg" alt="example-image">
						<figcaption>
							<div class="bool_and_read">
								<div class="col-sm-6 col-xs-6 redIcon">
									<a ui-sref="contactus">
										<img src="./assets/img/bookicon.png" alt="" class=""><br/> Book Now
									</a>
								</div>
								<div class="col-sm-6 col-xs-6 redIcon redIcon2">
									<a href="#">
										<img src="./assets/img/read_more_icon.png" alt="" class=""><br/> Read More
									</a>
								</div>
								<div class="clr"></div>
							</div>
						</figcaption>
					</figure>
					<div class="offprice_sec">
						<h3>Full Nail Care Package <span>&#x24; 200.00</span></h3>
					</div>
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
</div>
<!--end_spacial_offers-->

<div class="counter js-scrol">
	<div class="container">
		<div class="col-md-3">
			<img src="./assets/img/team.png" class="" />
			<h2 class="count">9996</h2>
			<p>Happy Clients</p>
		</div>
		<div class="col-md-3">
			<img src="./assets/img/award winning.png" class="" />
			<h2 class="count">845</h2>
			<p>Awards Winning</p>
		</div>
		<div class="col-md-3">
			<img src="./assets/img/year_exp.png" class="" />
			<h2 class="count">30</h2>
			<p>Year of Experiences</p>
		</div>
		<div class="col-md-3">
			<img src="./assets/img/happy client.png" class="" />
			<h2 class="count">67</h2>
			<p>Members in Team</p>
		</div>
		<div class="clr"></div>
	</div>
</div>
<!--end_article-->

<div class="online_visit">
	<div class="container">
		<div class="col-sm-9 no-padding">
			<h2>Book your visit <span>online</span> and <span>save</span> upto <span>10% </span></h2>
		</div>
		<div class="col-sm-3">
			<a ui-sref="contactus" style="text-decoration:none;">
				<button type="button" id="" class="book_now">Contact Now </button>
			</a>
		</div>
		<div class="clr"></div>
	</div>
</div>
<script>
	$('#bootstrap-touch-slider').bsTouchSlider();
	$('.count').each(function () {
		$(this).prop('Counter', 0).animate({
			Counter: $(this).text()
		}, {
				duration: 4000,
				easing: 'swing',
				step: function (now) {
					$(this).text(Math.ceil(now));
				}
			});
	});

</script>
<script>
	$('ul.nav li.dropdown').hover(function () {
		$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
	}, function () {
		$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);

	});
	$(document).ready(function () {

		var owl = $("#owl-demo1");

		owl.owlCarousel({
			items: 3,
			itemsCustom: false,
			itemsDesktop: [1199, 3],
			itemsDesktopSmall: [980, 3],
			itemsTablet: [768, 2],
			itemsTabletSmall: false,
			itemsMobile: [479, 1],
			singleItem: false,
			itemsScaleUp: false
		});

		// Custom Navigation Events
		$(".next").click(function () {
			owl.trigger('owl.next');
		})
		$(".prev").click(function () {
			owl.trigger('owl.prev');
		})

	});

</script>