/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: 320px){
	
	
}
@media (max-width: 360px){
	
}
@media (max-width: 480px){
	
}
@media (max-width: 640px){
	
}

@media (max-width: 768px) {
	
	.ms-layer{
		display:none;
	}
}
@media (max-width: 1024px) {
	
	.container{
		width:100%;
		padding:0;
	}
	.up_header li{
		font-size:12px;
	}
	.art_child{
		margin-bottom:15px;
	}
	.formPadding{
		padding:0;
	}
	.formSection{
		width:100%;
		padding:15px;
	}
	.bottom_footer{
		width:100% !important;
	}
	.online_visit{
		background-size: cover;
	}
	.info_footer{
		padding:0 15px;
	}
	.our_services{
		padding:30px 15px;
	}
	.online_visit h2 {
		font-size: 24px;
	}
	.book_now{
		margin:8px auto;
	}
	.navbar-toggle {
		margin-top: -5px;
		background-color: #3a3a3a !important;
		position: absolute;
		right: -10px;
		padding: 14px;
		border: none;
		border-radius: 1px;
		outline:none !important;
	}
	.up_Rnav {
		float: inherit;
		/* text-align: center; */
		padding: 10px 0 !important;
	}
	.newNav li a{
		padding: 15px 5px 15px 5px !important;
	}
	
}