<div class="iner_body">
    <div class="iner_title">
        <h2>{{aboutus.title}}</h2>
        <p><a href="#" style="color:#fff;">Home</a> / About us</p>
    </div>
    <div class="our_services">
        <div class="container">
            <h1 class="animated fadeInDown delay-07s">Our History</h1>
            <div class="aboutus_section">
                <div class="col-md-6">
                    <h3>About Our Salon us nailstudio</h3>
                    <p>
                        We’ve started our salon srvices from Look Beaut. Now it’s super easy to find us, wherever you are in UK. Book hair and beauty appointments from one simple place, even when you’re on the go. Check out the film below to see what we're all about.
                    </p>
                    <div class="about_address">
                        <p><b>Address :</b> 19 Trinity Walk, City Centre, Nottingham NG1 2AN</p>
                        <p><b>Phone :</b> +44 115 950 8932</p>
                        <p><b>Email :</b> info@mail.com</p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <img src="./assets/img/aboutus_img.jpg" alt="aboutus_img" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>